body {
    background-color: #f7faeb;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #dbe9c4;
    padding: 0.5%;
    border-radius: 10px;
}

.btn {
    background-color: #324737;
    border-color: #253529;
}

.btn-dark {
    --bs-btn-bg: #243529;
    --bs-btn-border-color: #243529;
    --bs-btn-hover-bg: #243529;
    --bs-btn-hover-border-color: #243529;
    --bs-btn-active-bg: #476850;
    --bs-btn-active-border-color: #476850;
}

.barra-acoes {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.card-body {
    border-radius: 0.5rem;
}