<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/consultas.css">
</head>
<body>
    <a href="homepage.html" type="button" class="btn btn-dark m-3">⬅️ Voltar</a>
    <h1>Consultas</h1>
    <div class="container barra-acoes">
        <input type="hello" placeholder="Pesquisar...">
        <a href="#" class="btn btn-dark">Adicionar nova consulta</a>
    </div>
    <div class="container">
        <div class="row g-3">
            <div class="col-12">
                <div class="card h-100">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Paciente: </li>
                        <li class="list-group-item">Profissional Responsável: </li>
                        <li class="list-group-item">Data: </li>
                        <li class="list-group-item">Horário: </li>
                        <li class="list-group-item">Motivo da Consulta: </li>
                        <li class="list-group-item">Observações Médicas: </li>
                    </ul>
                    <div class="card-body conjuntoBtn">
                        <a href="#" class="btn btn-dark">Editar</a>
                        <a href="#" class="btn btn-dark">Excluir</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card h-100">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Paciente: </li>
                        <li class="list-group-item">Profissional Responsável: </li>
                        <li class="list-group-item">Data: </li>
                        <li class="list-group-item">Horário: </li>
                        <li class="list-group-item">Motivo da Consulta: </li>
                        <li class="list-group-item">Observações Médicas: </li>
                    </ul>
                    <div class="card-body conjuntoBtn">
                        <a href="#" class="btn btn-dark">Editar</a>
                        <a href="#" class="btn btn-dark">Excluir</a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card h-100">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Paciente: </li>
                        <li class="list-group-item">Profissional Responsável: </li>
                        <li class="list-group-item">Data: </li>
                        <li class="list-group-item">Horário: </li>
                        <li class="list-group-item">Motivo da Consulta: </li>
                        <li class="list-group-item">Observações Médicas: </li>
                    </ul>
                    <div class="card-body conjuntoBtn">
                        <a href="#" class="btn btn-dark">Editar</a>
                        <a href="#" class="btn btn-dark">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>